body {background: white; font-size: 10pt; font-family: Times New Roman;}

#top,#footer1 {display: none;}

#printheader h1 {text-align:center; font-size: 14pt}

.resume h2 {text-align: left; font-size: 12pt;}

.header {border: white;
		text-align: left;
		}
.resume {border:white}

.h2title{text-decoration: underline;
		}