.header {border: 30px solid purple;
		width: 0px auto;
		text-align: center;
		margin: 0px auto;
}
.aboutme{border: 30px solid orange;
		width: 800px;
		text-align: center;
		margin: 0px auto;
}
.disneypic{ border: 30px solid pink;
		height: 500px;
		width: 350px;
		text-align: center;
		margin: 0px auto;
}
.thingsilove{border: 30px solid gray;
		width: 800px;
		text-align: center;
		margin: 0px auto;
}
.resume{border: 20px solid grey;
		width: 0px auto:
		text-align: center;
		margin: 0px auto;
		}
.h2title{ text-align: center;
		text-decoration: underline;
		}
body {color: black;
	background: yellow;
	font-size: 16pt;
	font-family: Veranda
	}
	
div {background: white;
	font-family: Veranda;
	}

p {color: black;
	font-family: Veranda;
}


		
.footer {font-size: 16pt;
		font-family: Veranda;
		text-align: center;
		line-height: 12pt;
		padding-top: 30pt;
		background: yellow;
		}
